.footer{
    height: 100px;
    width: 100%;
    background-color: #f3c735;
    border-radius: 15px;
    margin-top: 80px;
}
.footer-text{
    color: var(--surface-700);
    margin-top: 50px;

}
.footer-icon{
    text-align: end;
    margin-top: 50px;
    cursor: pointer;
}